<div class="row jumbotron">
  <div class="col-sm-3">
    <hr/>
    <img src='/assets/George 2.jpg' >
    <hr/>
    <img src='/assets/George_Tom.jpg' >
    <hr/>
  </div>
  <div class="col-sm-9">
    <h4 style = text-shadow:none >History </h4>
  GeorgeO'Malley was apprenticed in 1973 to his father Tom who was a Master Plasterer. Tom was born in 1915 and he served his time in Mayo. He started serving his time in 1928. At that time there was no gypsum plasterer available in Mayo. Gypsum slabs were introduced in Mayo in 1935. When Tom was serving his time the only materials available were lime and sand.
    </br>
    Tom learned at first hand what the properties of lime were and how to mix and use it. He emigrated to England in 1935. At that time lime was widely used in England both to build and plaster houses. In 1935 all rooms in the better class houses had a cornice run as standard. Again the only material used was lime plaster and casting plaster.
    </br>
    Tom O'Malley got a wide and varied experience in all aspects of plastering. He worked all over England until 1939 when he moved to London at the start of World War II. For the next ten years Tom was engaged primarily in repairing some of the fine buildings in London after the bomb damage. His work can still be seen on Jermyn Street, Oxford Street, the Oval Cricket Ground etc. etc. He worked for three firms in London, Newmans, A.G. & W. Gleesons and Roberts Contractors and was Foreman Plasterer with all three firms. Tom returned to Ireland in 1950 and spent the next 30 years restoring and renovating houses around Mayo.
    </br>
    <!--Tom's two brothers, Martin and George also learned the plastering trade from him. They subsequently plastered all over the world, in England, Zimbabwe, South Africa, Malta, all over the United States and into Alaska. They eventually returned to Ireland in 1970 and settled in Dublin.-->
    Tom O'Malley has five sons, all of whom also learned the plastering trade from him. George O'Malley is Tom's eldest son and proud to carry on the tradition. George moved in Dublin in 1976 and served a further two years apprenticeship with his uncle George, also a Master Plasterer.
    </br>
    Over the years George O'Malley has been employed in all areas of plastering; residential, commercial, restoration and renovation, in Trinity College, Dublin; 9 & 10 Hume Street, Dublin; Ledwithtown House, Ballymahon, Co. Longford; Kilruddery House, Bray, Co. Wicklow; 47 Merrion Street, Dublin; The Dean's Residence at Werburg Street, Dublin; ESB Credit Union, Fitzwilliam Street, Dublin; Hume Street Hospital, Dublin etc.
  </div>

</div>