<div id="myCarousel" class="carousel slide " data-ride="carousel" data-interval="10000" data-pause="hover" style = margin-top:0>
   <!--Indicators-->
<!--  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>-->
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag '1079_DETAILS OF THE CORNICE.JPG', alt: 'photo of detail of decorative plasterwork'%>
      <div class="container">
        <div class="carousel-caption">
          <!--<h1>Cornice St. Mel's</h1>-->
          <h1 class="inline">O'Malley Plastering </h1><h2 class="inline">Decorative Plasterwork Specialists</h2><h4 class="inline"> Have expertise in the conservation and restoration of lime plaster.</h4>
          <!--<p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>-->
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag '1079 ceiling 04 02 14_9999_31 (1).JPG', alt: 'photo of nice'%>
      <div class="container">
          <div class="carousel-caption">
            <!--<h1>Barrel Vaulted Ceiling St. Mel's</h1>-->
            <h1 class="inline">O'Malley Plastering </h1><h2 class="inline">Decorative Plasterwork Specialists</h2><h4>Offer a quality of execution that only many years of experience can provide.</h4>
          </div>
        </div>
    </div>
    <div class="item">
      <%= image_tag '1079_TINA SMILES VIEWING THE FINISHED CEILING.JPG', alt: "Third slide"%>
      <div class="container">
          <div class="carousel-caption">
            <!--<h2>Restored Centre Piece - St. Mel's Cathedral</h2>-->
            <h1 class="inline">O'Malley Plastering </h1><h2 class="inline">Decorative Plasterwork Specialists</h2><h4>Are dedicated to the care of our built heritage.</h4>
          </div>
        </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->
